<h1>Angie Zhang - Rails Project</h1>

<p>
This is the home page for 
<a href="http://candycrush-2013.appspot.com/">Angie Zhang</a>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
