<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News", '#' %></li>
			<li><a href="https://www.linkedin.com/in/yucanzhang">LinkedIn</li>
			<li><a href="https://www.facebook.com/angie.yucanzhang">Facebook</li>
			<li><a href="https://twitter.com/yucanzhang">Twitter</a></li>
		</ul>
	</nav>

</footer>

